/*FONTS IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*VARIABLES*/
$montserrat_font: 'Montserrat', sans-serif;
$counthDownSize :50px;
$mobile-media: "only screen and (max-width:1023px)";
$desktop-media: "only screen and (min-width : 1024px)";

*{
    padding: 0;
    margin: 0;
    font-family: $montserrat_font;
    header{
        padding: 15px;
        background-color: #000000;
        #nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        h2{
            font-size: 35px;
            a{
                text-decoration: none;
                color: #ffffff;
            }
        }
        div{
            input[type="checkbox"]{
                display: none;
            }
        }
    }
    
    .information{
        margin-top: 50px;
        h1{
            max-width: 75%;
            margin: auto;
            font-size: 50px;
            span{
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 30px;
            }
        }
    }

    body{
        //background-color: rgb(0, 0, 0);
        .information{
            h1{
                //color: #ffffff;
                text-align: center;
                span{
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
        .counthdown{
            max-width: 90%;
            margin: auto;
            border-radius: 25px;
            display: flex;
            justify-content: center;        
            flex-wrap: wrap;
            font-weight: 600;
            background: linear-gradient(-45deg, #a32424, #2f0cc9, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            animation: shadowEffect 15s ease infinite;
            padding: 15px;
            div{
                font-family: $montserrat_font;
                span{      
                    display: block;
                    text-align: center;
                }
            }
        }

        footer{
            .social-networks{
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                div{
                    a{
                        text-decoration: none;
                        img{
                            width: 60px;
                        }
                    }
                }
            }
        }

    }
}

@media #{$desktop-media} {
    header{
        #nav{
            div{
                img{
                    width: 50px;
                }
            }
        }
    }
    .counthdown{
        div{
            font-size: 35px;
            padding: 15px;
        }
    }
    footer{
        p{
            display: none;
        }
    }
}

@media #{$mobile-media} {
    header{
        #nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                img{
                    width: 35px;
                }
            }
        }
    }
    .information{
        h1{
            font-size: 25px;
            span{
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 15px;
            }
        }
    }
    .counthdown{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 15px;
        div{
            padding: 5px;
            margin-right: 5px;
            margin-left: 5px;
            span{
                display: block;
            }
        }

    }

    footer{
        .social-networks{
            div{
                a{
                    img{
                        width: 35px;
                    }
                }
            }
        }
        p{
            padding: 10px;
            margin-top: 50px;
            font-weight: 600;
            text-align: center;
        }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
        color: #000000;
	}
	50% {
		background-position: 100% 50%;
        color: white;
	}
	100% {
		background-position: 0% 50%;
        color: #000000;
	}
}

@keyframes shadowEffect{
    0%{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
    50%{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }
    100%{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }
}

.dark-mode{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: all 1s;
}

.white-mode{
    background-color: rgb(255, 255, 255);
    color: #000000;
    transition: all 1s;
}
